/* Newsletter Container */
.newsletter-container {
  flex: 2;
}

.newsletter-container p {
  margin-bottom: 1.5rem;
}

/* Form Layout */
form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;
}

form input {
  flex: 1;
  max-width: 350px;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

form input:focus {
  border-color: #333;
}

form button {
  background: var(--button);
  border: 1px solid black;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: background 0.3s;
  width: 300px;
}

form button:hover:not(:disabled) {
  background: var(--button-hover);
}

// form button:disabled {
//   background: var(--button-disabled);
//   cursor: not-allowed;
// }

/* Messages */
.success {
  margin-top: 1rem;
  color: var(--success);
  font-weight: 500;
}

.error {
  margin-top: 1rem;
  color: var(--error);
  font-weight: 500;
}

input.ng-invalid.ng-touched {
  border-color: var(--error) !important;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  form {
    flex-direction: column;
    gap: 1rem;
  }

  form input{
    width: 100% !important;
    max-width: none !important;
    box-sizing: border-box;
  }
  form button {
    width: 80% !important;
    max-width: none !important;
    box-sizing: border-box;
  }

}

.success {
  color: var(--success) !important;
  text-align: left;
  margin-top: 1rem;
}

.error {
  color: var(--error) !important;
  text-align: left;
  margin-top: 1rem;
}

.insta-follow {
  margin-top: 1.5rem;
  margin-bottom: 2rem;



  a {
    color: #222;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;

  }

  .insta-btn svg {
    width: 16px;
    height: 16px;
    fill: currentColor; // inherits text color
  }

  a:hover {
    color: grey;
  }

}

.questions {
  padding-top: 1rem;
}

.insta-btn {
  animation: flash 2s infinite ease-in-out;
}

@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

@media (max-width: 768px) {
  .questions p {
    display: flex;
    flex-direction: column;
  }
}

