.painting-detail {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  
  .painting-image {
    flex: 1;
    display: flex;
    margin-top: 2rem;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 

    img {
      width: 300px;
      height: 300px;
      object-fit: contain;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background: var(--button);
      margin-bottom: 0.5rem;
    }
  }
  
  .painting-info {
    flex: 1;
    color: #2c2c2c;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .price {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      font-style: italic;
    }

    .price-sold{
      color: var(--error);
    }

    .shipping {
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    .description {
      margin-bottom: 1rem;
      text-align: justify;
    }

    .medium,
    .size,
    .size-label {
      margin-bottom: 0.5rem;
      font-style: italic;
    }

    span {
      font-style: normal;
    }

    .add-to-cart {
      background: var(--button);
      border: 1px solid black;
      padding: 0.75rem 1.5rem;
      margin-top: 2rem;
      cursor: pointer;
      transition: background 0.3s ease;
      
      width: 50%;

      &:hover:not(:disabled) {
        background: var(--button-hover);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
        background: var(--button-disabled);
      }
    }

    /* PART BUTTONS */
    .part-options {
      margin-top: 1.5rem;

      .part-label {
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      .part-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        button {
          padding: 0.5rem 1rem;
          border: 1px solid #ccc;
          border-radius: 6px;
          background: #f8f8f8;
          cursor: pointer;
          transition: all 0.2s ease;
          font-size: 0.95rem;

          &:hover {
            border-color: #999;
            background: #ececec;
          }

          &.active {
            border-color: #c2a78f;
            background: #c2a78f33;
          }
        }
      }
    }
  }
}

.thumbnails {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  overflow: hidden;
  padding-right: 0.5rem;

  .thumb-box {
    width: 70px;
    height: 70px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;

    img {
      width: 70px;
      height: 70px;
      object-fit: contain;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
      }

      &.active {
        border: 2px solid var(--border-box);
        width: calc(70px - 3px); /* Adjust width by the size of the border */
  height: calc(70px - 3px);
      }
    }
  }
}

.shipping-check {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;

  input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
  }

  button {
    background: var(--button);
    border: 1px solid black;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background: var(--button-hover);
    }
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .painting-detail {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .shipping-check {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    select {
      width: 80%;
    }
  }

  .add-to-cart{
    width: 90% !important;
  }
  .painting-image{
    img{
        margin-bottom: 0 !important;
    }
  }

  .thumb-box{
    margin-top: 0 !important;
  }
}

.totalPrice {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.commisions-page {
  font-size: 1rem;

  a {
    color: #222;
    font-style: italic;
    text-decoration: underline;
  }

  a:hover {
    color: grey;
  }
}

.sold-out-section {
  padding-top: 1rem;
}

.price-on-request {
  font-size: 1rem;
  color: var(--success);
  margin-top: 2rem;
}

.insta-btn {
//   color: var(--success) !important;
  font-style: italic;
}

.description {
  white-space: pre-line; // preserves newlines
}