:root {
  --button: #f9f6f1;
  --button-disabled: #f0f0f0;
  --button-hover: #e5dfd3;

  --card-text: f9f6f1;
  

  --success: #5A8F7B;
  --error: #a94442;

  --header: #f6f2ea;

  --adminheader: #5e9b9e;

  --loader-caption: #6b6b6b;

  --border-box: #a88f77
}


body {
  margin: 0;
  padding: 0;
  // background-color: #f6f2ea;  //was a bit darker so commented
  background-color: #f9f6f1; // 👈 background for whole site
  // font-family: 'Helvetica Neue', Arial, sans-serif;
  font-family: 'Karla', sans-serif;
  color: #222; // good contrast for text
  font-size: 1rem;
}


@media (max-width: 768px) {
  .banner-visible app-header .header {
    top: 40px !important;
    transition: top 0.3s ease;
  }
}

@media (max-width: 768px) {

  /* default header height = 60px */
  main {
    transition: margin-top 0.3s ease;
  }

  /* when banner also visible => push further down (60 + 40 = 100px) */
  .banner-visible main {
    margin-top: 100px !important;
  }
}

a,
a:visited {
  color: black !important;
  outline: none;
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent; /* removes blue tap flash on mobile */
}

@font-face {
  font-family: 'LogoFont';
  src: url('assets/amsterdam-four.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

